.App {
  position: relative;
  text-align: center;
  width: 100vw;
  margin: 0 auto;
  padding-bottom: 15px;
  min-height: 100vh;
}

main {
  max-width: 1240px;
  margin: 0 auto;
}

footer {
  width: 100%;
  position:absolute;
  bottom: 0;
}

@media all and (max-width: 380px) {
  .App {
    padding-bottom:125px;
  }
}
