input:focus {
  border: 3px solid #555;
}
legend {
  padding: 100px 42px;
  width: 20%;
  background-image: linear-gradient(360deg, white, darkkhaki);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) ;
}
form {
 align-self: center;
 text-align: -webkit-center;
}
.loginForm {
  display: flex;
}

button {
  margin-top: 4px;
}