input:focus {
  border: 3px solid #555;
  background-color: burlywood;
}
input {
  max-width: -webkit-fill-available;
}
legend {
  align-self: center;
  display: flex;
  flex-direction: column;
  padding: 100px 18px;
  max-width: fit-content;
  background-image: linear-gradient(360deg, white, darkkhaki);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) ;
}
.user_form {
 align-self: center;
 text-align: -webkit-center;
}
.loginForm {
  display: flex;
}

button {
  margin-top: 4px;
  place-self: center;
}

#login-password-input, #login-username-input {
  align-self: center;
  max-width: -webkit-fill-available;
}

label{
  display: flex;
  justify-content: center;
}