header {
  background-color: rgba(255,255,255,0.3);
  text-align: center;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  
}
.header_text{
  display: flex;
  align-items: center;
}
img.quill {
  width: 80px;
}
.header_link {
  display:flex;
}
.nav_container{
  display: flex;
  align-self: bottom;
}

header a {
 font-family: 'Patrick Hand', cursive;
  text-decoration: none;
  color: black;
}

nav {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

nav a {
  margin: 0 20px;
  font-size: 24px;
}

nav a:hover {
  color: #9c27ca;
}
