@import url('https://fonts.googleapis.com/css2?family=Romanesco&family=The+Girl+Next+Door&display=swap');
header {
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  min-height: 12vmax;
  max-height: 12vmin;
  margin: 0;
  padding: 0;
}
.header_text,
h1 {
  display: flex;
  align-items: center;
}

img.quill {
  width: 80px;
}
.header_link {
  display: flex;
}
.nav_container {
  display: flex;
  flex-direction: column-reverse;
}
header a {
  font-size: 10vmin;
  font-family: 'Romanesco', cursive;
  color: black;
  text-decoration: none;
}

nav {
  display: flex;
}

nav a {
  margin: 0 20px;
  font-family: 'The Girl Next Door', cursive;
  text-decoration: none;
  font-size: 3vmax;
  color: black;
}

nav a:hover {
  color: #9c27ca;
}

@media all and (max-width: 360px) {
  nav {
    flex-direction: column;
    justify-content: space-evenly;
  }
}
