.profile_form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile_form form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}

.profile_form form button {
  margin: 0 auto;
  margin-top: 20px;
  width: 245px;
}

.about {
  height: 7rem;
}

label {
  margin-bottom: 4px;
}