.ProfileForm {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.ProfileForm form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  background-image: linear-gradient(360deg, white, darkkhaki);
}

.ProfileForm form input {
  margin: 0 auto;
  margin-top: 20px;
  width: 50%;
  max-width: 400px;
}

.ProfileForm__about {
  margin: 0 auto;
  width: 100%;
}

.ProfileForm__about_textarea {
  margin: 0 auto;
  height: 7rem;
  width: 100%;
  max-width: 800px;
}

label {
  margin-bottom: 4px;
}
