#terms, #privacy {
  max-width: 1240px;
  margin: 12px auto;
  padding: 20px 50px 20px 50px;
  border: 1px solid bisque;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#terms p, #privacy p {
    text-align: justify;
}
