.ProfileCard_main {
  border: 1px solid bisque;
  display: flex;
  width: 40vw;
  margin: 0 auto;
  background-image: linear-gradient(220deg, white, darkkhaki);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ProfileCard__icon_container {
  width: 50%;
  margin: auto 0;
}

.ProfileCard__bio_location {
  text-align: left;
  margin: auto 0;
}

.ProfileCard__label {
  line-height: 3em;
  text-align: left;
  font-size: 14px;
}
